<div class="content" nz-row>
    <div nz-col class="gutter-row logo" [nzSpan]="16">
        <img src="/assets/logo-mini.png" alt="">
    </div>
    <div nz-col class="gutter-row navbar" [nzSpan]="8">
        <div class="search">
            <input type="text" name="" id="">
            <i nz-icon nzType="search" nzTheme="outline"></i>
        </div>
        <div class="title-4-5 nav">
            <div class="active">Company</div>
            <div>Products</div>
            <div>Partnerships</div>
            <div>Purpose</div>
            <div>Worldwide</div>
        </div>
    </div>
</div>
<div class="container ">
    <div nz-row [nzGutter]="16" class="mx-7">
        <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="company mb-4">
                <hr width="60px" align="center" color=" #239358" size="3px" />
                COMPANY
            </div>
            <h1 style="letter-spacing: -2px; font-size: 80px; font-weight: bold;">
                Who we are
            </h1>
            <div class="content-bot-about-us">
                <div>

                </div>
                <h5 class="title-4-5 mb-5">Alvogen is a global, privately owned pharmaceutical company focused on
                    developing,
                    manufacturing and selling
                    generic, brand, over-the counter (OTC) and biosimilar products for patients around the world.</h5>
            </div>
            <!-- <div class="btn-routing-about-us" (mousemove)="aboutus = true" (mouseout)="aboutus = false" routerLink="/about-us" routerLinkActive="active">
          <ng-container *ngIf="aboutus">ABOUT US</ng-container>`
          <i nz-icon nzType="right" nzTheme="outline"></i>
        </div> -->
            <div class="out-vision">
                <div class="out-vision-child">
                    Our vison
                </div>
                <div class="routerlink-out-vision">
                    <i nz-icon nzType="right" nzTheme="outline"></i>

                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box" style="display:table-cell; vertical-align:middle; text-align:center">
                <img src="/assets/e56d64f5-aa95-49a2-bc97-c16ed2e5561a_Robert+Wessman+Staircase.avif" alt="" width="550"
                    height="880">
            </div>

        </div>
    </div>
</div>
<div class="product container">
    <div style="text-align: center; font-weight: bold;" class=" title-4-5 mt-3">
        SOME OF OUR MACHINES
    </div>
    <div nz-row [nzGutter]="16" class="mx-6 mb-6">
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box ms-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box m-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box me-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div nz-row [nzGutter]="16" class="mx-6 mb-6">
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box ms-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box m-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box me-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-row [nzGutter]="16" class="mx-6 mb-6">
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box ms-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box m-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box w-box me-auto">
                <div class="box-cart">
                    <div nz-row class="ms-3 ">
                        <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box px-3"
                                style="font-weight: bold; font-size: 18px; text-align: center; line-height: 1.2; ">
                                ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS
                                <hr width="260px" align="center" color="#239358" size="4px" />
                            </div>
                        </div>
                        <!-- <div nz-col class="gutter-row" [nzSpan]="6">
                            <div class="inner-box"
                                style="border: 1px solid black ; width: 55.5px; height: 53.7px; margin-left: 24px;">
                                <img src="/assets/primon-automazioni-prodotti-rubinetti-lavabo-bidet-icona.png" alt=""
                                    width="55.5" height="53.7">
                            </div>
                        </div> -->
                    </div>
                    <div class="img-prd">
                        <img src="/assets/1.png" alt="" width="232.5" height="254.6" (click)="showModal()">
                    </div>
                    <div class="content-machines">
                        Performance: <b> 90 pcs/hour</b>
                        <br>
                        N° Operators: <b> 1</b>
                    </div>
                    <div class="custom-view">
                        <div class="layout">
                            LAYOUT
                            <div>
                                <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class="video">
                            VIDEO
                            <div>
                                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nz-modal [nzWidth]="700" [(nzVisible)]="isVisible"
    nzTitle="ASSEMBLING and TESTING MACHINE for WASH BASIN and BIDET FAUCETS" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()" [nzCancelText]="null" [nzOkText]="null" [nzFooter]="null" [nzClassName]="'st-modal'">
    <ng-container *nzModalContent>
        <div class="st-carosel">
            <nz-carousel [nzEffect]="effect">
                <div nz-carousel-content>
                    <img src="/assets/1.png" alt="" width="650" height="752">
                </div>
                <div nz-carousel-content>
                    <img src="/assets/2.png" alt="" width="650" height="752">
                </div>
                <div nz-carousel-content>
                    <img src="/assets/3.png" alt="" width="650" height="752">
                </div>
                <div nz-carousel-content>
                    <img src="/assets/4.png" alt="" width="650" height="752">
                </div>
                <div nz-carousel-content>
                    <img src="/assets/5.png" alt="" width="650" height="752">
                </div>
                <div nz-carousel-content>
                    <img src="/assets/6.png" alt="" width="650" height="752">
                </div>
                <div nz-carousel-content>
                    <img src="/assets/7.png" alt="" width="650" height="752">
                </div>
                <div nz-carousel-content>
                    <img src="/assets/8.png" alt="" width="650" height="752">
                </div>
            </nz-carousel>
            
        </div>
    </ng-container>
</nz-modal>